@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial';
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #c5e4e7;
  
  }

input {
  text-align: right;
  font-size: 18px;
  height: 100%;
  width: 100%;
  background-color: #f3f8fb;
  outline-color: #27c2ad;

}



input[type='number'] {
    margin: 0;
    padding: 0;
    border: none;
}

h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #a7a6a6;
    font-weight: 600;

}

h5 {
    font-size: 16px;
    margin: 3px;
   
}

p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: #a3b7c3;
}

.bill-text  {
  font-size: 16px;
}

.select-text {
  font-size: 18px;
  margin-bottom: 2px;
}


.title-text {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 5px;
}

  
  
  .main-container {
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 950px;
    height: 50%;
    background-color: white;
    box-shadow: 0px 1px 2px rgb(44, 40, 40);
    margin-top: 15px;

  }
  
  .title {
    color: #00464b;
    text-shadow: 0px 1px 2px #27c2ad;;

  }

  .main-container > .user-input-container {
    flex-basis: 45%;
    height: 100%;
    width: auto;

  }

  .user-input-container > .data-input-container {
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: auto;
  }

  .bill-entry-container > .dollar-amt {
    color: #00464b;
    box-shadow: 0px 1px 2px rgba(44, 40, 40, 0.482);
    border-radius: 5px;
    border: none;
    background: url("icons/dollarsign.png"),  #f3f8fb;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 30px;
    font-weight: bold;
    padding-right: 10px;
  }

  .ppl-number > .ppl-input {
    color: #00464b;
    box-shadow: 0px 1px 2px rgba(44, 40, 40, 0.471);
    border-radius: 5px;
    border: none;
    background: url("icons/person.png"), #f3f8fb;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 30px;
    font-weight: bold;
    padding-right: 10px;
  }

  .dollar-amt::placeholder {
    padding-right: 5px;
  }
  .ppl-input::placeholder {
    padding-right: 5px;
  }

  .tip-selection-box > .tip-percentage {
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .tip-selection-box {
    margin-bottom: -25px;
  }

  .bill-entry-container > .input-info {
    display: flex;


  }


  .ppl-number > .input-info {
    display: flex;
    justify-content: space-between;
  }

  .input-info > .error-text, .ppl-error-text {
    color: rgb(229, 166, 89);
    display: none;
  }


.tip-btn {
    background-color: #00464b;
    color: white;
    border: none;
    padding: 13px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
  }

  .tip-btn:hover {
    background-color:#27c2ad;
    color: #00464b;

  }

  .active {
    background-color:#27c2ad;
    color: #00464b;

  }


  .tip-btn-padding {
    width: 29%;
    padding: 8px;

  }

  .tip-btn-padding > .custom-tip {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    opacity: .75;
  }

  .custom-tip::placeholder {
    text-align: center;

  }

.custom-tip::-webkit-input-placeholder { text-align:center; }
.custom-tip::-webkit-outer-spin-button,
.custom-tip::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

  
  .main-container > .app-output-container {
    background-color: #00464b;
    flex-basis: 45%;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Arimo', sans-serif;

  
  
  }

  .app-output-container > .output-padding {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: auto;


  }

 .output-padding > .output-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
 }

  .app-output-container > .reset-div {
    display: flex;
    justify-content: center;
  }

  .reset-div > button {
    width: 100%;
    align-items: baseline;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color:#27c2ad;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #00464b;

  }

  .reset-btn:hover {
    background-color: yellowgreen;

  }




  .tip-box, .total-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .tip-amt, .total-amt {
    color: #27c2ad;
    font-size: 20px;
    
  }

  .total-text > p {
    font-size: 12px;
  }
  .tip-text > p {
    font-size: 12px;
  }

  .tip-box > .tip-text {

  }
  

  @media only screen and (max-width: 900px) {

    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .main-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100%;
      width: 80vw;
  }

  .main-container > .user-input-container {
    flex-basis: 45%;
    height: 100%;
    width: auto;
    flex: 2;

  }

  .user-input-container > .data-input-container {
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: auto;
  }


  .main-container > .app-output-container {
    background-color: #00464b;
    flex-basis: 45%;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Arimo', sans-serif;
    flex: 1.5;
  
  
  }


  .tip-btn-padding {
    width: 27%;
    padding: 8px;

  }

}