body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #c5e4e7;
  
  }

/* Removes the spin buttons from the bill input - I searched for this */

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Aligns placeholder text to right*/
::-webkit-input-placeholder { text-align:right; }
  
  
  .main-container {
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    background-color: white;

  }
  
  .main-container > .user-input-container {
    flex-basis: 45%;
   
  }

  .bill-input-box > .tip-percentage {
    background-color: blue;
    width: auto;
    display: flex;
    flex-wrap: wrap;

  }

.tip-btn {
    background-color: #00464b;
    color: white;
    border: none;
    padding: 10px 5px 10px 5px;
    width: 100%;
    cursor: pointer;
  
  }

  input {
    text-align: right;
  }

  .tip-btn-padding {
    width: 33.33%;
    padding: 5px;

  }
  .tip-percentage > .custom-tip {
    width: 33.33%;
    margin: 0;
    padding: 0;

  }




  
  .main-container > .app-output-container {
    background-color: #00464b;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
   
  }

  .app-output-container > .output-padding {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

  }

  .app-output-container > .reset-div {
    display: flex;
    justify-content: center;
  }

  .reset-div > button {
    width: 100%;
    align-items: baseline;

  }



  .tip-box, .total-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  